body, html {
  min-height: 100%;
}

body {
  &.has--no-scrolling {
    overflow: hidden;
  }
}

#main-container {
  margin-top: 6rem;
  margin-bottom: 2rem;

  @include media-breakpoint-up('lg') {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

#blog-container {
  margin-bottom: 2rem;

  @include media-breakpoint-up('lg') {
    margin-bottom: 8rem;
  }
}

#custom-logo {

  margin-right: 10px;

  @include media-breakpoint-up('lg') {
  }
}

#main-nav {
  @include media-breakpoint-up('md') {
    flex-grow: 0 !important;
  }
}

.noscroll {
  overflow: hidden;
}

.year {
  border-top: 2px solid black;
  display: inline-block;
  margin-bottom: 0;
  padding: 1rem 1rem 0 1rem;
}

.card-col {
  margin-bottom: 2rem;
}

.card-custom-image {
  height: 200px;
  background-size: cover;
  background-position: center center;
}

.card-title {
  font-size: 1.5rem;
}

.card-body {
  display: flex;
  flex-direction: column;

  > a {
    margin-top: auto;
  }
}
